  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3" href="{% url 'dish_catalog:dish-create' %}"  rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
                        Lets Start
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
              
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                        Dish List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuPages">  
                <a class="dropdown-item border-radius-md" href="{% url 'dish_catalog:dish-list' %}">View Dish List</a>
                    </div>
                </li>
              </ul>
          </div>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                        Dish Type List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuPages">  
                <a class="dropdown-item border-radius-md" href="{% url 'dish_catalog:dish-type-list' %}">View Dish Type List</a>
                    </div>
                </li>
              </ul>
          </div>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                        Cooks List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuPages">  
                <a class="dropdown-item border-radius-md" href="{% url 'dish_catalog:cook-list' %}">View Cook List</a>
                    </div>
                </li>
              </ul>
          </div>
              
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>