<!-- Navbar Transparent -->
{% load crispy_forms_filters %}

<div class="container position-sticky z-index-sticky top-0"></div>
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
        <a class="navbar-brand  text-white " href="{% url 'dish_catalog:index' %}" rel="tooltip"
           title="Designed and Coded by Creative Tim" data-placement="bottom">
            Home
        </a>
        <a class="navbar-brand  text-white " href="{% url 'dish_catalog:dish-list' %}" rel="tooltip"
           title="Designed and Coded by Creative Tim" data-placement="bottom">
            All dishes
        </a>
        <a class="navbar-brand  text-white " href="{% url 'dish_catalog:dish-type-list' %}" rel="tooltip"
           title="Designed and Coded by Creative Tim" data-placement="bottom">
            All dish types
        </a>
        <a class="navbar-brand  text-white " href="{% url 'dish_catalog:cook-list' %}" rel="tooltip"
           title="Designed and Coded by Creative Tim" data-placement="bottom">
            All Cooks
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
        </button>
    </div>

</nav>
<!-- End Navbar -->